/* Currently this CSS is just a playground */

.main {
    background-color: mintcream;
    height: 100rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}