/* Currently this CSS is just a playground */


.container {

    display: flex;
    gap: 1rem;
    width: 70%;
    justify-content: space-between;

}

.container>div {
    display: flex;
    gap: 2rem
}

.bazaar {
    border: 1px solid greenyellow;
    background-color: greenyellow;
    color: darkolivegreen;
}