/* Currently this CSS is just a playground */

/* NEED fixing dont like it  */
.container {

    display: flex;
    gap: 1rem;

}

.container>div {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.main_nav {
    display: flex;
    gap: 1rem;
}

.bazaar {
    border: 1px solid greenyellow;
    background-color: greenyellow;
    color: darkolivegreen;
}