/* Currently this CSS is just a playground */

.footer {
    /* Lets leave it static for now */
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgb(189, 184, 184);
    padding: 1rem;
}