/* Currently this CSS is just a playground */

.header {
    width: 100vw;
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: rgb(128, 175, 53);
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}